<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>二维码生成</title>
    <script src="../../static/js/lib/jquery-2.1.4.min.js" th:src="@{/static/js/lib/jquery-2.1.4.min.js}"></script>
    <script src="../../static/js/lib/jquery.qrcode.min.js" th:src="@{/static/js/lib/jquery.qrcode.min.js}"></script>
</head>
<body>
生成的二维码如下：<br/>
<div id="qrcode"></div>
<script>
    var obj = {
        render   : "canvas",//设置渲染方式
        width       : 256,     //设置宽度
        height      : 256,     //设置高度
        typeNumber  : -1,      //计算模式
        correctLevel    : 0,//纠错等级
        background      : "#ffffff",//背景颜色
        foreground      : "#000000", //前景颜色
        text:"https://www.baidu.com" //内容
    };
    jQuery("#qrcode").qrcode(obj);
</script>
</body>
</html>